@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBgColor: hsl(221, 45%, 13%);
  --secondaryBgColor: hsl(221, 69%, 8%);
  --primaryFontColor: hsl(45deg 80% 40%);
  --neutralFontColor: hsl(60, 41%, 95%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Come back to this idea later */

/* html {
  background: 
    linear-gradient(hsla(221, 45%, 13%, 0.9), hsl(221, 45%, 13%, 0.9), #081121e4, #081121),
    url(../resources/charon.png),  
    linear-gradient( hsl(221, 45%, 11.8%), hsl(215, 100%, 4%)),
    hsl(215, 100%, 4%);
  background-size: 100% 100vh, 100% 100vh, 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
} */

html {
  background: 
  linear-gradient(hsl(221, 45%, 11.8%), hsl(215, 100%, 4%)),
  hsl(215, 100%, 4%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  min-height: 100vh;

}

.home-page-link {
  box-shadow: 2px 2px 5px 0 #bb800b;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: var(--primaryBgColor);
}

::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: goldenrod;
}

